bundle/
bundle/**
emacs.d/**
eclim/
eclim/**
autoload/**
doc/**
plugin/
!doc/*.txt
!doc/*.sh
!doc/*.cmd
doc/csupport.txt
doc/templatesupport.txt
doc/toolbox.txt
doc/toolboxcmake.txt
doc/toolboxdoxygen.txt
doc/toolboxmake.txt
**.swp
**/cscope.files
jira/j.createSingleJiraForEpicNB*
jira/j.createTrackingJiraForEpicNB*
jira/j.createRenameStoryFromRenameStoryFile.sh
jira/j.createMigratorStoryFromNBSMStoryFile.sh
jira/NBSMStoryFile
jira/NBSVRUPStoryFile
jira/trkX
